
<h1 class="current-category"><%= params[:category]%> <%= params[:search] %></h1>

<% if @scoreboards.count == 0 %>
    <h3>There are no scoreboards in this category.</h3>
<% else %>
    <div class="row">
        <%  @scoreboards.each do |scoreboard| %>
            <div class="col-md-4">
                <a href="/scoreboards/ <%= scoreboard.id %>">
                    <%= image_tag scoreboard.scoreboard_img.url(:scoreboard_index), class: "scoreboard hvr-wobble-vertical hvr-shadow"
                        %>
                </a>
            </div>
        <% end %>       
    </div>
<% end %>

